a {
  text-decoration: none;
  .nav-item {
    display: flex;
    align-items: center;
    margin: 5px 10px;
    padding: 12px;
    color: white;
    span {
      margin-left: 10px;
    }
  }
  &.active {
    .nav-item {
      background-color: #414b55;
      border-radius: 3px;
    }
  }
}	